<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todas las reservaciones</title>
    <link rel="icon" type="image/png" th:href="@{imagenes/LOGO2.jpg}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/inicio}">Inicio</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/reservas}">Nueva reservación</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Lista de reservaciones</h1>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre cliente</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fecha entrada</th>
                <th scope="col">Cantidad de personas</th>
                <th scope="col">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservacion : ${totalReservaciones}">
                <td th:text="${reservacion.id}"></td>
                <td th:text="${reservacion.nombreCliente} + ' ' + ${reservacion.apellido}"></td>
                <td th:text="${reservacion.email}"></td>
                <td th:text="${reservacion.telefono}"></td>
                <td th:text="${reservacion.fechaEntrada}"></td>
                <td th:text="${reservacion.cantidadPersonas}"></td>

                <td>
                    <a class="btn btn-primary" th:href="@{/reservas/total-reservaciones/editar/{id}(id=${reservacion.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/reservas/total-reservaciones/eliminar/{id}(id=${reservacion.id})}">Eliminar</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>