@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    transition: 0.5s ease;
}

header .marca {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

header .navegacion {
    position: relative;
}

header .navegacion .navegacion-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navegacion .navegacion-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease;
}

header .navegacion .navegacion-items a:hover:before {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.banner .video-bg {
    opacity: 0;
}

.banner .video-bg.activo {
    opacity: 1;
}

.acerca {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 50px 150px;
}

.acerca .recuadro {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.acerca .recuadro .logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.acerca .recuadro h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'EB Garamond', serif;
}

.acerca .recuadro p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
