@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #6d7e9a;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.5rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-first-item: 0 0.5rem 1rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
}

/* Hacemos que el formulario esté dentro de una tarjeta */
.contenedor-formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

/* Estilos para el título del formulario */
.contenedor-formulario h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 1rem;
}

/* Estilos para el formulario */
.contenedor-formulario .input-group {
    width: 100%;
    margin-bottom: 1rem;
}

.input-group .bloqueado {
    background-color: var(--color-light);
    cursor: not-allowed;
}

/* Estilos para los campos */
.contenedor-formulario label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: 1px;
}

/* Estilos para los campos */
.contenedor-formulario input {
    width: 100%;
    padding: 3px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-dark-variant);
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
}

.contenedor-formulario input:focus {
    border-color: var(--color-primary);
}

.input-group-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/* Estilos para el botón */
.input-group-btns button {
    width: 48%;
    padding: 5px;
    border-radius: var(--border-radius-1);
    border: none;
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
    cursor: pointer;
    appearance: none;
}

.input-group-btns button:hover {
    background-color: var(--color-dark);
}

/* Estilos para el botón de cancelar */
.input-group-btns a {
    background-color: var(--color-danger);
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    padding: 5px;
    border-radius: var(--border-radius-1);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    appearance: none;
    width: 48%;
}

.input-group-btns a:hover {
    background-color: var(--color-dark);
}